/* Hoja de estilos CSS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: rgb(193, 209, 45);
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

/* Variables fin */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;*/
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

/*
section {
  /* max-width: 1100px;
  margin: auto; 
}
*/

/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* Navbar ends */

/* Index contenedor*/

.contenedor {
  width: 90%;
  max-width: 1000 px;
  margin: 20px auto;
  /*display: grid;*/
  grid-gap: 20px;

}

.wrap {
  width: 100vw;
  height: 40vw;


  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*background-color: #a17a69;*/
  background-image: url(/TPEnv/images/index/imgBotellas1.jpg);
  background-size: cover;
  background-position: center;

}

.wrap_texto {
  color: #fff;
  border-color: #4756df;
  border-style: dashed;
  font-size: 1.5rem;
  text-shadow: 2px 2px 5px black;
  position: relative;
  top: 100px;
  left: 100px;

}

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 75%;
  height: 60%;
}

.projects-container {
  /*display: flex;
  align-items: center;
  justify-content: center;
  */
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;

}

.project-container {
  text-align: center;
  /*width: 21.875rem;*/
  padding: 1rem;

}

.project-container:hover {
  transform: rotate(5deg);
}

.project-container p {
  padding: 0.4rem;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 10px;
  margin: 10px;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

/* Projects section ends */

/* Footer */

footer {
  display: flex;
  justify-content: space-between;

  background-color: #b5b9db;
}

#footerShowroom {
  background-color: aqua;
  /*margin-left: 20px;*/
  display: flex;
}

#footerHorarios {
  display: flex;
  background-color: rgb(0, 174, 255);
}

#footerTelefono {
  display: flex;

  background-color: rgb(193, 209, 45);
}

#footerEmail {
  display: flex;
  background-color: rgb(0, 174, 255);
}

/* Responsive */

@media screen and (max-width: 768px) {

  body {
    background: green;
  }

  /* Menu Hamburguesa*/

  nav {
    padding: 1rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu{
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }


  /* Fin Menu Hamburguesa*/

  .wrap_texto {
    font-size: .7rem;
    position: absolute;

  }

  /*aside {
    display: none;
  }*/

  footer {
    flex-direction: column;
    /*width: ;*/
    /*align-: center;*/
    /* gap: 1.1rem;*/
  }

  /*footer div{
    /*text-align:center;
  }*/

  .projects-container {
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);

  }

  .project-container {
    width: auto;
    /*17.875rem;*/

  }
}

/* Responsive ends*/